:host {
  --all-padd: 0px; // Default value to ensure the custom property exists
  --hh-large: 0px; // Height of the header
  --nrh-large: 0px; // Height of the nav row
  --fh-large: 0px; // Height of the footer 
}

.grid-container {
  height: 100%; 
  margin: 0;
  padding: 0;
}

header, nav, aside, main, footer {
    padding-inline: var(--all-padd);
}

header {
  grid-area: header;
  background-color: dodgerblue;
}

nav {
  grid-area: nav;
  background-color: lightskyblue;
}

aside.left {
  grid-area: left;
  background-color: lightpink;
}

main {
  grid-area: main;
  background-color: lightgray;
}

aside.right {
  grid-area: right;
  background-color: lightgoldenrodyellow;
}

footer {
  grid-area: footer;
  background-color: lightseagreen;
}





@media (min-width: 320px) {
    .grid-container {
      display: grid;
      grid-template-areas:								/*  Below, we define 6 rows x 1 column  */
        "header"
        "nav"
        "left"
        "main"
        "right"
        "footer";
      grid-template-columns: 1fr; /*  For the width of columns  */
      grid-template-rows: 60px 40px 1fr 1fr 14% 40px; /*  For the height of each one of the 6 rows  */
    }
  }
  
  @media (min-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-areas:									/*  Below, we define 5 rows x 2 columns  */
        "header header"
        "nav nav"
        "left main"
        "right right"
        "footer footer";
      grid-template-columns: max(200px, 20%) 1fr; /*  For the width of columns  */
      grid-template-rows: 80px 50px 1fr 10% 60px; /*  For the height of each one of the 4 rows  */
    }
  }
  
  @media (min-width: 1024px) {
    .grid-container {
      display: grid;
      grid-template-areas:								/*  Below, we define 4 rows x 3 columns */
        "header header header"
        "nav nav nav"
        "left main right"
        "footer footer footer";
      grid-template-columns: max(200px, 25%) 1fr min-content; /*  For the width of columns  */
      // grid-template-rows: 80px 50px 1fr 60px; /*  For the height of each one of the 4 rows  */
      grid-template-rows: var(--hh-large) var(--nrh-large) 1fr var(--fh-large); /*  For the height of each one of the 4 rows  */


    }
  }